#videoplayer_overlay video {
	outline: none;
}

#videoplayer_overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #4c4c4c;
	background-color: rgba(0, 0, 0, .7);
	z-index: 3000;
}

#videoplayer_outer_container {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#videoplayer_container {
	position: relative;
	margin: 0 auto;
	color: #4d4d4d;
	background: #fff;
	box-shadow: 0 0 20px #222;
	z-index: 3001;
}

#videoplayer {
	position: relative;
}

#box-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	opacity: .35 !important;
	cursor: pointer;
	z-index: 2;
}

#box-close:hover {
	opacity: .75 !important;
}

#videoplayer button {
	min-width: auto;
}

#videoplayer div {
	cursor: pointer;
}

/* overwrite Nextcloud default CSS  */
#videoplayer button:not(:disabled):not(.primary):active {
	background-color: unset;
}

/* Internet Explorer */

.lte9 #videoplayer_outer_container {
	top: 1%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: none;
}

.ie9 .video-js {
	width: 100% !important;
	height: 100% !important;
}
