#videoplayer_overlay video {
	outline: none;
}

#videoplayer_overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #4c4c4c;
	background-color: rgba(0, 0, 0, .7);
	z-index: 3000;
}

#videoplayer_outer_container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 95%;
	max-width: 854px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#videoplayer_container {
	position: relative;
	width: 95%;
	max-width: 854px;
	margin: 0 auto;
	color: #4d4d4d;
	background: #fff;
	box-shadow: 0 0 20px #222;
	z-index: 3001;
}

#videoplayer_container:before {
	content: "";
	display: block;
	padding-top: 56.25%;
}

#videoplayer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#box-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	opacity: .35;
	cursor: pointer;
}

#box-close:hover {
	opacity: .75;
}

.vjs-sublime-skin.vjs-has-started.vjs-user-inactive.vjs-playing #box-close {
	opacity: 0;
	-webkit-transition: opacity 1s cubic-bezier(.455,.03,.515,.955);
	-moz-transition: opacity 1s cubic-bezier(.455,.03,.515,.955);
	transition: opacity 1s cubic-bezier(.455,.03,.515,.955);
}

#videoplayer button {
	min-width: auto;
}

#videoplayer div {
	cursor: pointer;
}

/* overwrite Nextcloud default CSS  */
#videoplayer button:not(:disabled):not(.primary):active {
	background-color: unset;
}

/* Internet Explorer */

.lte9 #videoplayer_outer_container {
	top: 1%;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: none;
}

.ie9 .video-js {
	width: 100% !important;
	height: 100% !important;
}
